{{ attach_library('views_jcslider/jcslider') }}
{{ attach_library('views_jcslider/animate') }}

<div {{ attributes }} class="jc-slider">
    {% for row in rows %}
        <div class="jc-animation">{{ row.content }}</div>
    {% endfor %}
</div>
